body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.carousel {
    width: 50%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: none;
}

.book-info {
    width: 45%;
    text-align: center;
}

.book-title {
    font-size: 24px;
    color: #B81A83;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.book-subtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    transition: color 0.3s ease-in-out;
}

.book-description {
    font-size: 16px;
    color: #666;
}

.order-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #B81A83;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

.order-button:hover {
    background-color: #882067;
}

.container:hover .book-title,
.container:hover .book-subtitle {
    color: #882067;
}
